[defaults]
inventory = ansible/inventories/vagrant/hosts.ini
roles_path = ansible/roles
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
remote_user = vagrant

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
