global
  log /dev/log local0
  log /dev/log local1 notice
  daemon
  maxconn 2048

defaults
  log global
  mode tcp
  timeout connect 10s
  timeout client  1m
  timeout server  1m

frontend kubernetes-api
  bind *:6443
  default_backend kubernetes-api-backend

backend kubernetes-api-backend
  balance roundrobin
  option tcp-check
  server controller-0 192.168.56.11:6443 check
  server controller-1 192.168.56.12:6443 check
  server controller-2 192.168.56.13:6443 check
