KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123!
KC_HOSTNAME=keycloak-0
KC_HTTP_ENABLED=true
KC_PROXY_HEADERS=xforwarded
KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/conf/server.crt
KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/conf/server.key
