apiVersion: v1
kind: Config
clusters:
- name: kthw-vagrant
  cluster:
    server: https://192.168.56.10:6443
    certificate-authority: ./ca.pem
users:
- name: oidc-user
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: kubectl
      args:
        - oidc-login
        - get-token
        - --oidc-issuer-url=https://192.168.56.14:8443/realms/kubernetes
        - --oidc-client-id=kubernetes
        - --oidc-extra-scope=groups
        - --oidc-extra-scope=profile
        - --oidc-extra-scope=email
contexts:
- name: oidc@kthw-vagrant
  context:
    cluster: kthw-vagrant
    user: oidc-user
current-context: oidc@kthw-vagrant
