apiVersion: v1
kind: Config
clusters:
  - name: kubernetes-the-hard-way
    cluster:
      certificate-authority: /etc/kubernetes/pki/ca.pem
      server: https://192.168.56.10:6443
contexts:
  - name: default
    context:
      cluster: kubernetes-the-hard-way
      user: scheduler
current-context: default
users:
  - name: scheduler
    user:
      client-certificate: /etc/kubernetes/pki/scheduler.pem
      client-key: /etc/kubernetes/pki/scheduler-key.pem
