apiVersion: v1
kind: Config
clusters:
  - name: kubernetes-the-hard-way
    cluster:
      certificate-authority: /etc/kubernetes/pki/ca.pem
      server: https://192.168.56.10:6443
contexts:
  - name: default
    context:
      cluster: kubernetes-the-hard-way
      user: worker-1
current-context: default
users:
  - name: worker-1
    user:
      client-certificate: /etc/kubernetes/pki/worker-1.pem
      client-key: /etc/kubernetes/pki/worker-1-key.pem
