[Unit]
Description=Kubernetes Kubelet
After=network-online.target containerd.service
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/kubelet   --config=/etc/kubernetes/config/kubelet-config.yaml   --container-runtime-endpoint=unix:///run/containerd/containerd.sock   --kubeconfig=/var/lib/kubelet/kubeconfig   --hostname-override=%H   --v=2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
