# Variables locales de travail
BASTION_ADDRESS=192.168.56.9
LB_ADDRESS=192.168.56.10
POD_CIDR=10.200.0.0/16
SERVICE_CIDR=10.32.0.0/24
CLUSTER_NAME=kthw-vagrant-architect
KUBECONFIG_OUT=./kubernetes/kubeconfigs
PKI_OUT=./kubernetes/pki
SSH_CONFIG_OUT=./evidence/ssh/ssh_config.generated
SSH_ALLOWED_CIDR=192.168.56.0/24
BASTION_ADMIN_USER=vagrant
ACCESS_LOG_OUT=./evidence/access


# OIDC / Keycloak
KEYCLOAK_VM=keycloak-0
KEYCLOAK_HOST=192.168.56.14
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_HTTPS_PORT=8443
KEYCLOAK_REALM=kubernetes
KEYCLOAK_CLIENT_ID=kubernetes
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin123!
OIDC_USERNAME_CLAIM=preferred_username
OIDC_GROUPS_CLAIM=groups
OIDC_CA_FILE=/etc/kubernetes/pki/oidc-ca.crt
